<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="keywords" content="Photo-Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--webfont-->

    <link href='http://fonts.useso.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/baguetteBox.min.js"></script>
    <script src="js/menu_jquery.js"></script>
    <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .searchContainer {
            display: flex;
        }
        .searchText{
            height: 50px;
            width: 468px;
            border: 2px solid #fff;
            border-radius: 2px;
            box-shadow: 0 0 8px rgba(0,0,0,.5);
            background-color: transparent;
        }
        .my_text{
            font-size: 14px;
            color: #fff;
            height: 100%;
            line-height: 42px;
            margin-right: 42px;
            width: 468px;
            background-color: transparent;
            border: none;
        }
        .fileButton {
            height: 50px;
            color: #333;
            line-height: 54px;
            width: 121px;
            background-color: #fff;
            border: 0;
        }
        .fileButton input {
            width: 121px;
            height: 50px;
            position: absolute;
            cursor: pointer;
            z-index: 100;
            opacity: 0;
            filter: alpha(opacity=0);
            /*right: 0;*/
            top: 0;
            left: 0;
            background: 0 0;
            border: 0;
        }
        .my-search {
            height: 50px;
            width: 40px;
            background: white;
            /*margin-left: 5px;*/
            margin-right: 10px;
            line-height: 50px;
            text-align: center;
            border: 2px solid #fff;
        }
    </style>
</head>
<body>

<style>
    input[type="file"] {
        color: transparent;
    }
</style>
<div class="header">
    <div class="container">
        <div class="logo">
            <h1><a href="index.html">Cake</a></h1>
        </div>
        <div class="top_right">
            <ul >
            </ul>
            <ul >
                <li><a href="https://github.com/CrazyDiary/CakeImage">CrazyDiary</a></li>|
                <li><a href="https://crazydiary.github.io/">Bolg</a></li><!--                <li class="login" >-->
<!--                    <div id="loginContainer"><a href="#" id="loginButton"><span>Login</span></a>-->
<!--                        <div id="loginBox">-->
<!--                            <form id="loginForm" action="/userLogin">-->
<!--                                <fieldset id="body">-->
<!--                                    <fieldset>-->
<!--                                        <label for="email">Email Address</label>-->
<!--                                        <input type="text" name="email" id="email">-->
<!--                                    </fieldset>-->
<!--                                    <fieldset>-->
<!--                                        <label for="password">Password</label>-->
<!--                                        <input type="password" name="password" id="password">-->
<!--                                    </fieldset>-->
<!--                                    <input type="submit" id="login" value="Sign in">-->
<!--                                    <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>-->
<!--                                </fieldset>-->
<!--                                <span><a href="#">Forgot your password?</a></span>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </li>-->
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="ba">
    <div class="grid_1_d" href="#" >
        <ul  >
                <img id="img" src="/images/1.jpg" alt="" width="100%" height="100%"/>
        </ul>
    </div>
    <div class="container" >
        <div class="span_1_of_d" >
            <h2>Cake Search by Image</h2>
            <div class="search">
                <ul class="nav1">
                    <li id="search">

<!--                        <form action=""   id ="fileUploadForm" enctype="multipart/form-data">-->
<!--                            <input type="text" name="search_text" id="search_text" placeholder="粘贴图像" onchange="contain()"/>-->
<!--                            <input type="button" name="search_button" id="search_button" placeholder="搜索" />-->
<!--                            <input type="file" name="file" id="file" display="none" onchange="inputImage()">-->
<!--                        </form>-->
                        <form id="fileUploadForm" enctype="multipart/form-data" >
                            <div class="searchContainer">
                                <a class="fileButton">
                                     本地上传
                                    <input type="file" name="file" id="file"  onchange="inputImage()">
                                </a>
                                <div class="searchText">
                                    <input type="text" class="my_text" name="my_text" id="my_text" placeholder="Address of the image" onchange="contain()"/>
                                </div>
                                <div class="my-search" id="my-search">Search</div>

                            </div>

                        </form>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br/>
    <div class="grid_1">
        <div class="container gallery-container">
            <div class="tz-gallery">
                <div id="showResult">
                    <div class="row" >
<!--                        <ul th:each="str : ${session.similarList}"  class="col-sm-6 col-md-4" >-->
<!--                            <div class="thumbnail" >-->
<!--                                <a class="lightbox">-->
<!--                                    <img th:src="@{${str.address}}"/>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </ul>-->
                    </div>
<!--                    <div class="col-sm-6 col-md-4" >-->
<!--                        <ul >-->
<!--                        <div class="thumbnail">-->
<!--                            <a class="lightbox" href="emotionImages/1.jpg">-->
<!--                                <img src="emotionImages/1.jpg" alt="Traffic">-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        </ul>-->
<!--                    </div>-->
                </div>

            </div>
        </div>
    </div>
<div class="grid_3">
    <div class="container">
        <ul id="footer-links">
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Royalty Free License</a></li>
            <li><a href="#">Extended License</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="support.html">Support</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="#">Categories</a></li>
        </ul>
        <p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
    </div>
</div>
</div>
</body>
<script>
    function contain(){
        debugger
        var formData=new FormData($("#fileUploadForm")[0]);
        var my_text=document.getElementById("my_text").value;
        $('#img').attr('src',my_text);
        $.ajax({
            //提交数据的类型 POST GET
            type:"POST",
            //提交的网址
            url:"/perception",
            //提交的数据
            data:formData,
            //返回数据的格式
            processData: false, // 告诉jQuery不要去处理发送的数据
            contentType: false, // 告诉jQuery不要去设置Content-Type请求头            //成功返回之后调用的函数
            success:function(data){
                alert("成功")
                html = " "
                $("#showList").remove();

                for (var i=0;i<data.length;i++) {
                    html += "<ul class='col-sm-6 col-md-4'> <div class='thumbnail'><a class='lightbox'><img src="+ data[i]+" ></a></div></ul>"
                }
                var res = "<div id='showList'>"+html+"</div>"

                $('#showResult').append(res);
                debugger
            }   ,
            //调用出错执行的函数
            error: function(){
                //请求出错处理
                alert("出错11111")
            }
        });
    }
    function inputImage(){
        $("#my_text").val(" ")
        var formData=new FormData($("#fileUploadForm")[0]);
        var filePath;
        filePath=document.getElementById("file").value;
        var html = ""
        // alert("filepath"+filePath);
        formData.append("filePath",filePath);
        $.ajax({
            //提交数据的类型 POST GET
            type:"POST",
            //提交的网址
            url:"/perception",
            //提交的数据
            data:formData,
            //返回数据的格式
            processData: false, // 告诉jQuery不要去处理发送的数据
            contentType: false, // 告诉jQuery不要去设置Content-Type请求头            //成功返回之后调用的函数
            success:function(data){
                debugger
                console.log(data)
                html = " "
                $("#showList").remove();
                for (var i=0;i<data.length;i++) {
                    html += "<ul class='col-sm-6 col-md-4'> <div class='thumbnail'><a class='lightbox'><img src="+ data[i]+" ></a></div></ul>"
                }
                var res = "<div id='showList'>"+html+"</div>"

                $('#showResult').append(res);
            }   ,
            //调用出错执行的函数
            error: function(){
                //请求出错处理
                alert("出错")
            }
        });
    }

    $(function(){
        var a = localStorage.getItem('currentImg')
        $('#img').attr('src',a);
    });
    $('#file').on('change',function(){
        var filePath = $(this).val(),         //获取到input的value，里面是文件的路径
            fileFormat = filePath.substring(filePath.lastIndexOf(".")).toLowerCase(),
            src = window.URL.createObjectURL(this.files[0]); //转成可以在本地预览的格式
            localStorage.setItem('currentImg', src);
        // 检查是否是图片
        if( !fileFormat.match(/.png|.jpg|.jpeg/) ) {
            error_prompt_alert('上传错误,文件格式必须为：png/jpg/jpeg');
            return;
        }
        var a = localStorage.getItem('currentImg')
        $('#img').attr('src',a);
        // window.location.reload();
    });
</script>
</html>		