<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Photo-Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- Custom Theme files -->
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<!--webfont-->
	<link href='http://fonts.useso.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.useso.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
	<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/htmleaf-demo.css">
	<link rel="stylesheet" href="css/baguetteBox.min.css">
	<link rel="stylesheet" href="css/gallery-clean.css">
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/baguetteBox.min.js"></script>
	<script src="js/menu_jquery.js"></script>
	<script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<style>
	button {
		width: 200px;
		padding:8px;
		background-color: rgba(255, 255, 255, 0);
		border-color: #357ebd;
		color: #fff;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px; /* future proofing */
		-khtml-border-radius: 10px; /* for old Konqueror browsers */
		text-align: center;
		vertical-align: middle;
		border: 1px solid transparent;
		font-weight: 900;
		font-size:125%
	}

</style>
<div class="header">
	<div class="container">
		<div class="logo">
			<h1><a href="index.html">Cake</a></h1>
		</div>
		<div class="top_right">
			<ul>

			</ul>
			<ul >
				<li><a href="https://github.com/CrazyDiary/CakeImage">CrazyDiary</a></li>|
				<li><a href="https://crazydiary.github.io/">Bolg</a></li>

<!--				<li class="login" >-->
<!--					<div id="loginContainer"><a href="#" id="loginButton"><span>Login</span></a>-->
<!--						<div id="loginBox">-->
<!--							<form id="loginForm" action="/userLogin">-->
<!--								<fieldset id="body">-->
<!--									<fieldset>-->
<!--										<label for="email">Email Address</label>-->
<!--										<input type="text" name="email" id="email">-->
<!--									</fieldset>-->
<!--									<fieldset>-->
<!--										<label for="password">Password</label>-->
<!--										<input type="password" name="password" id="password">-->
<!--									</fieldset>-->
<!--									<input type="submit" id="login" value="Sign in">-->
<!--									<label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>-->
<!--								</fieldset>-->
<!--								<span><a href="#">Forgot your password?</a></span>-->
<!--							</form>-->
<!--						</div>-->
<!--					</div>-->
<!--				</li>-->
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="banner">
	<div class="container">
		<div class="span_1_of_1">
			<h2>Cake Search by Image</h2>
			<form id="form">
				<button type="button" id="1" onclick="ahash()" >Average Hash </button>
				<button type="button" id="2" onclick="phash()">Hash Algorithm</button>
				<button type="button" id="3" onclick="dhash()" >Difference Hash</button>
				<button type="button" id="4" onclick="sift()" >Sift</button>
			</form>
		</div>
	</div>
</div>
<div class="grid_1">
	<div class="container gallery-container">
		<div class="tz-gallery">

			<div class="row">

				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<a class="lightbox" href="buildingImages/2.jpg">
							<img src="buildingImages/2.jpg" alt="Park">
						</a>
						<div class="caption">
							<h3>Thumbnail label</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<a class="lightbox" href="figureImages/1.jpg">
							<img src="figureImages/1.jpg" alt="Bridge">
						</a>
						<div class="caption">
							<h3>Thumbnail label</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<a class="lightbox" href="foodsImages/1.jpg">
							<img src="foodsImages/1.jpg" alt="Tunnel">
						</a>
						<div class="caption">
							<h3>Thumbnail label</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<a class="lightbox" href="oliPlantImages/1.jpg">
							<img src="oliPlantImages/1.jpg" alt="Coast">
						</a>
						<div class="caption">
							<h3>Thumbnail label</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<a class="lightbox" href="plantImages/1.jpg">
							<img src="plantImages/1.jpg" alt="Rails">
						</a>
						<div class="caption">
							<h3>Thumbnail label</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<a class="lightbox" href="emotionImages/1.jpg">
							<img src="emotionImages/1.jpg" alt="Traffic">
						</a>
						<div class="caption">
							<h3>Thumbnail label</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="grid_2">
	<div class="container">
		<div class="col-md-3 col_2">
			<h3>Stock Photo<br>Categories</h3>
		</div>
		<div class="col-md-9 col_5">
			<div class="col_1_of_5 span_1_of_5">
				<ul class="list1">
					<li><a href="stock.html">Abstract</a></li>
					<li><a href="stock.html">Animals/Wildlife</a></li>
					<li><a href="stock.html">The Arts</a></li>
					<li><a href="stock.html">Backgrounds/Textures</a></li>
					<li><a href="stock.html">Beauty/Fashion</a></li>
					<li><a href="stock.html">Buildings/Landmarks</a></li>
				</ul>
			</div>
			<div class="col_1_of_5 span_1_of_5">
				<ul class="list1">
					<li><a href="stock.html">Business/Finance</a></li>
					<li><a href="stock.html">Celebrities</a></li>
					<li><a href="stock.html">Editorial</a></li>
					<li><a href="stock.html">Education</a></li>
					<li><a href="stock.html">Food and Drink</a></li>
					<li><a href="stock.html">Healthcare/Medical</a></li>
				</ul>
			</div>
			<div class="col_1_of_5 span_1_of_5">
				<ul class="list1">
					<li><a href="stock.html">Holidays</a></li>
					<li><a href="stock.html">Illustrations/Clip-Art</a></li>
					<li><a href="stock.html">Industrial</a></li>
					<li><a href="stock.html">Interiors</a></li>
					<li><a href="stock.html">Miscellaneous</a></li>
					<li><a href="stock.html">Model Released Only</a></li>
				</ul>
			</div>
			<div class="col_1_of_5 span_1_of_5">
				<ul class="list1">
					<li><a href="stock.html">Nature</a></li>
					<li><a href="stock.html">Objects</a></li>
					<li><a href="stock.html">Parks/Outdoor</a></li>
					<li><a href="stock.html">People</a></li>
					<li><a href="stock.html">Religion</a></li>
					<li><a href="stock.html">Science</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<div class="grid_3">
	<div class="container">
		<ul id="footer-links">
			<li><a href="#">Terms of Use</a></li>
			<li><a href="#">Royalty Free License</a></li>
			<li><a href="#">Extended License</a></li>
			<li><a href="#">Privacy</a></li>
			<li><a href="/detail">detail</a></li>
			<li><a href="about.html">About Us</a></li>
			<li><a href="faq.html">FAQ</a></li>
			<li><a href="#">Categories</a></li>
		</ul>
		<p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
	</div>
</div>
</body>
<script>
baguetteBox.run('.tz-gallery');

function ahash(){
var str="ahash";
	$.ajax({
		type: "get",
		url: "/method",
		datatype: "json",
		data: {ids: JSON.stringify(str)},
		async : false,
		success: function (data) {
			alert("选择成功！");
			window.location.href="/detail";
		}
	});
}

function phash() {
	var str="phash";
	$.ajax({
		type: "get",
		url: "/method",
		datatype: "json",
		data: {ids: JSON.stringify(str)},
		async : false,
		success: function (data) {
			alert("选择成功！");
			window.location.href="/detail";
		}
	});
}
function dhash() {
	var str="dhash";
	$.ajax({
		type: "get",
		url: "/method",
		datatype: "json",
		data: {ids: JSON.stringify(str)},
		success: function (data) {
			window.location.href="/detail";
		}
	});
}

function sift() {
	var str="sift";
	$.ajax({
		type: "get",
		url: "/method",
		datatype: "json",
		data: {ids: JSON.stringify(str)},
		success: function (data) {
			window.location.href="/detail";
		}
	});
}
</script>
</html>		