<!DOCTYPE html>
<html>
<head>
    <div>
        <div>登录系统 login.html</div>
        <form action="/loginPage" method="post">
            <table>
                <tr>
                    <td>用户名：</td>
                    <td><input type="text" name="tno" ></input></td>
                </tr>

                <tr>
                    <td>密码：</td>
                    <td><input type="text" name="password" ></input></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="提交" ></input></td>
                </tr>
            </table>
        </form>
    </div>
</head>
</html>